doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Presentasi Bespoke

    link(rel='stylesheet', type='text/css', href='build/build.css')
 
    
    

  body

    article
    
      section
        h1.begin <marquee behavior="scroll" direction="left" scrollamount="7">Aplikasi Android</marquee> 
        h1.begin <marquee behavior="scroll" direction="left" scrollamount="6">Bespoke</marquee> 
<<<<<<< HEAD
<<<<<<< HEAD
      Section
        ul
=======
      Section
        ul
>>>>>>> 50cde2b6b0f14d7ad22b1fb942a770f03dc06521
=======
      section
         ul
>>>>>>> be995de9c3f93a8b727ed83eb02a3b656311f508
            li 1. Herris Suhendra (131113514)
            li 2. Andi Chang (131112951)
            li 3. Jimmy Chandra (131113107)
    
      Section
        ul
            li Smartphone 
            li img src=""
            li adalah telepon yang menyediakan fitur yang berada diatas dan di luar kemampuan sederhana untuk membuat panggilan telepon.               Sementara istilah dapat digunakan secara wajar untuk semua jenis telepon, smartphone biasanya dipahami sebagai ponsel dan bukan telepon             rumah. Selama bertahun-tahun, konsep ponsel pintar terus berkembang sebagai perangkat tangan telah menjadi lebih canggih. 
      Section
        ul
            li Ponsel pertama yang harus dipertimbangkan smartphone dirancang oleh IBM pada tahun 1992. 
            li Diberi nama Simon, perangkat membuat penampilan           di COMDEX tahun itu, dan ditawarkan kepada publik pada tahun berikutnya. 
            li Beberapa fitur yang bermanfaat yang sampai saat itu hanya telah           tersedia pada desktop dan laptop yang termasuk dalam fungsi tersebut. 
            li Simon termasuk kalkulator, buku catatan sederhana, kemampuan untuk           mengirim dan menerima faks, dan komponen email. 
            li Dalam waktu singkat, perangkat ini juga disediakan beberapa game bagi pengguna untuk               menikmati, serta jam dunia berguna yang memungkinkan pengguna untuk melihat waktu saat ini di kota-kota besar di seluruh dunia.
      Section
        ul
            li Sepanjang sisa tahun 1990-an, berbagai jenis perangkat ponsel canggih muncul di pasaran. 
            li Layar sentuh mulai menggantikan keysets pada banyak ponsel pintar. Permainan dan fungsi email menjadi lebih canggih seperti model-model baru yang dirilis. 
            li Kemampuan speakerphone pada banyak versi smartphone mulai menyaingi kualitas yang ditemukan dengan speakerphone handset.
      Section
        ul

            li Saat ini, fungsi smartphone dengan kaya fitur perangkat komunikasi. Penambahan akses Internet adalah inovasi terbaru dalam teknologi               smartphone.
            li Saat ini, pengguna dapat berselancar di Internet dengan kemudahan yang sama seperti ketika menggunakan laptop atau komputer             desktop. 
            li Pada saat yang sama, banyak produsen garis smartphone telah bekerja untuk meningkatkan kejelasan dan integritas sinyal audio               dasar ponsel.
            li Hal ini membantu untuk memastikan bahwa bahkan dengan penambahan semua fitur tambahan, masih mungkin untuk menggunakan               smartphone untuk membuat panggilan telepon sederhana dan mengharapkan kualitas suara menjadi jernih dan tajam.

      Section
        ul
            li Sejarah Android Sedikit cerita sejarah android, Android adalah sistem operasi berbasis kernel Linux yang pada awalnya dikembangkan oleh Android, Inc, yang didukung Google finansial dan kemudian dibeli pada tahun 2005.
            li Android ini diresmikan pada tahun 2007 seiring dengan berdirinya Open Handset Alliance-konsorsium hardware, software, dan perusahaan telekomunikasi yang ditujukan untuk memajukan standar perangkat selular.
        
      Section
        ul
            li Android tidak memiliki yang namanya official phone untuk Android, sama halnya dengan tidak adanya komputer yang resmi untuk “Windows”. 
            li Android hanyalah nama untuk sistem operasi mobile hasil pengembangan si Google, oleh karena itu akan sedikit menjadi debat kusir kalau kita membandingkan secara langsung antara si Android dan juga si iPhone.
        
            li iPhone terkesan bekerja lebih intuitif daripada smartphone berbasis Android, alasannya kembali lagi ke poin sebelumnya dimana si Apple iPhone di desain selaras dengan device-nya, sedangkan si Android di desain sedemikian rupa agar bisa kompatibel di banyak varian pabrikan smartphone.
        
            li Oleh karena itu saat pengguna mencari smartphone untuk faktor “WOW KEREN!!”, kemungkinan besar mereka akan menjatuhkan pilihan ke apa-apa yang ditawarkan iPhone. 
            li Setiap fungsi di iPhone memiliki kesan mudah digunakan serta simpel. 
            li Apalagi dengan kontrol pada touch screen yang intuitif makin menambah kesan ringan dan interaktif serta handal pada operating system dan juga aplikasi-aplikasinya.

        Section
         ul
            li  Apa itu Hp Replika ?Yaitu hp tiruan yang bentuknya mirip dengan hp aslinya. 
            li Jadi hp replika bisa dikatakan sebagai hp palsu yang dibuat sedemikan rupa menyerupai wujud dari barang yang original yang mana spesifikasinya berbeda dengan spek hp asli yang ditirunya.

            li Hp android palsu/replika kini banyak beredar dan harganyapun sangat miring. Hp-hp replika tentu me-replikakan hp2 yang berkelas seperti Galaxy S4, Galaxy S3, iPhone, Nokia N8, dll

            li Replika = KW = Copy = King Copy = SuperCopy
        
        Section
         ul
            li Kebanyakan Aplikasi Aplikasi free sedangkan beda dengan ios karena ios aplikasi hampir semua berbayar dan kita dapat merasakan perbedaannya karena harga aplikasi di android terjangkau

        Section
         ul
            li Cara membedakan produk asli dengan produk replika atau supercopy (kw).apakah anda semua sudah bisa membedakan hp replika dengan produk original,kali ini saya akan berbagi sedikit tips buat anda yang masih baru,tips membedakan hp replika ini sangat cepat,mudah dan akurat,anda tidak di harus kan melihat dari logo,dari baterai dan banyak lagi
        
            li banyak sekali blog membahas cara membedakan produk replika di lihat dari menu,bazer,layar sentuh,ukuran cpu,koneksi internet,dan banyak lagi,dan ada sebagian membandingkan hp replika dengan ori dari ukuran dan ketebalan produk,hal ini memang bisa membedakan hp replika dengan hp ori,namum hal ini sedikit lebih memerlukan sebuah produk original,untuk di bandingkan,
        
            li jika tidak tersedia produk original di samping anda,saya yakin anda akan kebinggungan membedakan produk ini,dan perlu proses waktu yang lama untuk membeda kedua produk,hal ini di sebabkan oleh tampilan desain yang mirip berserta os yang di gunakan juga sama-sama android jelly bean.
        
        section
         ul
            li Android (/ˈæn.drɔɪd/; AN-droyd) adalah sistem operasi berbasis Linux yang dirancang untuk perangkat seluler layar sentuh seperti telepon pintar dan komputer tablet.[11] Android awalnya dikembangkan oleh Android, Inc., dengan dukungan finansial dari Google, yang kemudian membelinya pada tahun 2005.[12] Sistem operasi ini dirilis secara resmi pada tahun 2007, bersamaan dengan didirikannya Open Handset Alliance, konsorsium dari perusahaan-perusahaan perangkat keras, perangkat lunak, dan telekomunikasi yang bertujuan untuk memajukan standar terbuka perangkat seluler.[13] Ponsel Android pertama mulai dijual pada bulan Oktober 2008.[14]
        
        section
         ul
            li Antarmuka pengguna Android didasarkan pada manipulasi langsung, menggunakan masukan sentuh yang serupa dengan tindakan di dunia nyata, seperti menggesek, mengetuk, mencubit, dan membalikkan cubitan untuk memanipulasi obyek di layar. 
        section
         ul
            li Android adalah sistem operasi dengan sumber terbuka, dan Google merilis kodenya di bawah Lisensi Apache.[11] Kode dengan sumber terbuka dan lisensi perizinan pada Android memungkinkan perangkat lunak untuk dimodifikasi secara bebas dan didistribusikan oleh para pembuat perangkat, operator nirkabel, dan pengembang aplikasi. 
        section
         ul
           li Selain itu, Android memiliki sejumlah besar komunitas pengembang aplikasi (apps) yang memperluas fungsionalitas perangkat, umumnya ditulis dalam versi kustomisasi bahasa pemrograman Java.[15] Pada bulan Oktober 2012, ada sekitar 700.000 aplikasi yang tersedia untuk Android, dan sekitar 25 juta aplikasi telah diunduh dari Google Play, toko aplikasi utama Android.[16][17] Sebuah survey pada bulan April-Mei 2013 menemukan bahwa Android adalah platform paling populer bagi para pengembang, digunakan oleh 71% pengembang aplikasi seluler.[18]
        section
         ul
            li Faktor-faktor di atas telah memberikan kontribusi terhadap perkembangan Android, menjadikannya sebagai sistem operasi telepon pintar yang paling banyak digunakan di dunia,[19] mengalahkan Symbian pada tahun 2010.[20] Android juga menjadi pilihan bagi perusahaan teknologi yang menginginkan sistem operasi berbiaya rendah, bisa dikustomisasi, dan ringan untuk perangkat berteknologi tinggi tanpa harus mengembangkannya dari awal.[21] Akibatnya, meskipun pada awalnya sistem operasi ini dirancang khusus untuk telepon pintar dan tablet, Android juga dikembangkan menjadi aplikasi tambahan di televisi, konsol permainan, kamera digital, dan perangkat elektronik lainnya. 
        section
         ul
            li Sifat Android yang terbuka telah mendorong munculnya sejumlah besar komunitas pengembang aplikasi untuk menggunakan kode sumber terbuka sebagai dasar proyek pembuatan aplikasi, dengan menambahkan fitur-fitur baru bagi pengguna tingkat lanjut atau mengoperasikan Android pada perangkat yang secara resmi dirilis dengan menggunakan sistem operasi lain.[22]
        section
         ul
            li Pada November 2013, Android menguasai pangsa pasar telepon pintar global, yang dipimpin oleh produk-produk Samsung, dengan persentase 64% pada bulan Maret 2013.[23] Pada Juli 2013, terdapat 11.868 perangkat Android berbeda dengan beragam versi.[24] Keberhasilan sistem operasi ini juga menjadikannya sebagai target ligitasi paten "perang telepon pintar" antar perusahaan-perusahaan teknologi.[25][26] Hingga bulan Mei 2013, total 900 juta perangkat Android telah diaktifkan di seluruh dunia, dan 48 miliar aplikasi telah dipasang dari Google Play.[27][28] Pada tanggal 3 September 2013, 1 miliar perangkat Android telah diaktifkan.[29]
        
        section
         ul
              li h1 Perkembangan Android
              li    Saat ini keberadaan platform #Android sangat populer di kalangan pengguna smartphone. Platform yang satu ini berhasil mencuri perhatian para pengguna smartphone dan mampu menduduki posisi yang setara bahkan lebih populer ketimbang platform lainnya seperti #Blackberry, Windows dan #iOS.

              li Meski terbilang pendatang baru, kala itu smartphone versi Android telah berhasil menyodok naik, salah satu alasannya adalah keunggulan yang dimiliki Android  yakni ketersediaan platform nya yang terbuka bagi para developer untuk berkreasi menciptakan beragam aplikasi. Beragam aplikasi tersebut dapat digunakan secara gratis maupun berbayar pada perangkat mobile atau smartphone yang berbasis Android.
    Sejarah Awal Perkembangan Android

              li Pada bulan Juli 2005, Google mencetuskan kerjasama dengan Android Inc. yang saat itu berlokasi di California, Amerika Serikat. Kala itu para pendiri Android.Inc beranggapan bahwa sistem operasi Android hanya diperuntukkan pada telepon seluler. Sehingga munculah isu bahwa Google hendak memasuki pasar telepon seluler dengan menggandeng Android sebagai sistem operasinya.

              li Akhirnya pada periode September 2007, Google memperkenalkan Nexus One, salah satu jenis smartphone GSM dengan sistem operasi berbasis Android. Google juga mengajukan hak paten atas aplikasi pada smartphone ini dan kemudian smartphone ini diproduksi oleh HTC Corporation dan mulai dipasarkan pada Januari 2010. Selain itu, pada September 2008 terbentuklah anggota-anggota baru yang bergabung dalam program kerja Android ARM Holdings, yakni Sony Ericsson, Toshiba Corp, SoftBank, Vodafone Group dan beberapa perusahaan lainnya.

              li Sejak pertama kali diluncurkan hingga sekarang, Android senantiasa melakukan perbaruan melalui perbaikan bug dan penambahan fitur-fitur baru. HTC Dream yang dirilis pada Oktober 2008 merupakan smartphone pertama yang menggunakan sistem operasi berbasis Android. Hingga saat ini tak terhitung lagi berapa banyak smartphone yang mengusung Android sebagai sistem operasi.

              li Evaluasi dan pengembangan yang tiada henti menjadi salah satu kunci kesuksesan Android dalam merebut hati para pengguna smartphone dan gadget. Salah satu ciri khas Android adalah penamaan tipe-tipenya berdasarkan urutan abjad dan nama-nama makanan. Hal ini pula yang membuat para pengguna smartphone dan gadget mudah mengingat tipe-tipe Android apa saja yang telah diluncurkan. Berikut ini adalah ulasan singkat mengenai perkembangan tipe Android dari waktu ke waktu:

              li 
                 h1 
                  Android 1.1

              li Sistem Android yang dikenal dengan nama Android Alpha dan Android Beta ini pertama kali diperkenalkan pada tahun 2007 dan baru mulai diaplikasikan pada smartphone di awal Maret 2009. Sebagai cikal bakal OS Android, versi ini bisa dikatakan cukup berhasil menjadi inisiator kesuksesan besar Android.

              li h1 1. Android 1.5 (Cupcake)

              li Sesaat setelah mengaplikasikan sistem operasinya pada smartphone, pada Mei 2009 Android kembali merilis versi terbarunya yang diberi nama Android Cupcake. Android Cupcake menawarkan beragam kelebihan dibandingkan dengan versi terdahulunya, yakni fasilitas unggah video ke Youtube, headset bluetooth yang nirkabel serta tampilan keyboard dan gambar yang lebih atraktif.

              li 2. Android 1.6 (Donut)

              li Tipe Android yang satu ini diluncurkan hanya berselang 4 bulan setelah peluncuran saudara kandungnya, Android Cupcake. Android Donut telah mengusung keunggulan lainnya yakni tampilan indikator baterai, fasilitas zoom in zoom out, penggunaan koneksi CDMA serta beberapa keunggulan lainnya.

    3. Android 2.0 / 2.1 (Eclair)

    Masih di tahun 2009, Android kembali meluncurkan teknologi terbarunya yang diberi nama Android Éclair. Era Android Éclair kemudian berhasil menarik para perusahaan gadget untuk mulai membuat gadget dengan sistem layar sentuh yang sebelumnya dianggap kurang user friendly bagi para pengguna smartphone.

    Artikel lain: Cara Mengatasi Smartphone Android Yang Lambat / Lemot

    4. Android 2.2 (Froyo = Frozen Yoghurt)

    Android Froyo diluncurkan pada Mei 2010, 5 bulan setelah peluncuran Android Éclair. Pada tipe Android yang satu ini, keinginan para pengguna smartphone untuk memiliki kapasitas memori eksternal berupa slot micro SD sudah dapat diwujudkan.

    5. Android 2.3 (Ginger Bread)

    Si roti jahe yang diluncurkan pada penghujung tahun 2010 memiliki tampilan yang atraktif dan disertai dengan penambahan fitur-fitur seperti dual camera dan video call. Tak hanya itu saja, Ginger Bread juga fokus pada peningkatan kualitas dan grafis game berbasis Android.

    6. Android 3.0/3.1 (Honeycomb)

    Android yang diluncurkan pada Mei 2011 ini dikhususkan bagi para pengguna tablet PC berbasis Android. User interface nya pun berbeda dengan smartphone Android. Spesifikasi hardware yang tinggi serta tampilan layar yang lebih besar membuat Honeycomb cocok diaplikasikan pada tablet PC.

    7. Android 4.0 (Ice Cream Sandwich)

    Ice Cream Sandwich diluncurkan pada tahun yang sama dengan peluncuran Honeycomb. Banyak sekali fitur-fitur baru yang disematkan pada Android versi empat ini, diantaranya adalah fitur pendeteksi wajah, fitur yang memaksimalkan kualitas fotografi, kualitas cideo yang lebih baik serta resolusi dan grafis gambar yang sangat memuaskan.

    8. Android 4.1 (Jelly Bean)

    Sistem Android yang satu ini memberikan support pada fitur on screen keyboard yang membuat kegiatan mengetik menjadi lebih cepat, mudah dan responsif. Salah satu smartphone keren yang mengusung Android Jelly Bean adalah Google Nexus 7 yang diprakarsai oleh perusahaan ASUS.

    9. Android 4.4 (Kitkat)

    Android Kitkat merupakan versi Android terbaru yang diluncurkan pada bulan September 2013. Penggunaan nama Kitkat menjadi suatu kejutan bagi para pecinta Android, karena nama Kitkat merupakan salah satu nama snack wafer yang populer di dunia. Penggunaan nama ini juga membuat tipe Android ini semakin mudah diingat orang.
        script(src='build/build.js')
