doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Presentasi Bespoke

    link(rel='stylesheet', type='text/css', href='build/build.css')
 
    
    

  body

    article
    
      section
        h1.begin <marquee behavior="scroll" direction="left" scrollamount="7">Aplikasi Android</marquee> 
        h1.begin <marquee behavior="scroll" direction="left" scrollamount="6">Bespoke</marquee> 
    
      section
         ul
            li Smartphone 
            li adalah telepon yang menyediakan fitur yang berada diatas dan di luar kemampuan sederhana untuk membuat panggilan telepon.               Sementara istilah dapat digunakan secara wajar untuk semua jenis telepon, smartphone biasanya dipahami sebagai ponsel dan bukan telepon             rumah. Selama bertahun-tahun, konsep ponsel pintar terus berkembang sebagai perangkat tangan telah menjadi lebih canggih. 
      Section
        ul
            li Ponsel pertama yang harus dipertimbangkan smartphone dirancang oleh IBM pada tahun 1992. 
            li Diberi nama Simon, perangkat membuat penampilan           di COMDEX tahun itu, dan ditawarkan kepada publik pada tahun berikutnya. 
            li Beberapa fitur yang bermanfaat yang sampai saat itu hanya telah           tersedia pada desktop dan laptop yang termasuk dalam fungsi tersebut. 
            li Simon termasuk kalkulator, buku catatan sederhana, kemampuan untuk           mengirim dan menerima faks, dan komponen email. 
            li Dalam waktu singkat, perangkat ini juga disediakan beberapa game bagi pengguna untuk               menikmati, serta jam dunia berguna yang memungkinkan pengguna untuk melihat waktu saat ini di kota-kota besar di seluruh dunia.
      Section
        ul
            li Sepanjang sisa tahun 1990-an, berbagai jenis perangkat ponsel canggih muncul di pasaran. 
            li Layar sentuh mulai menggantikan keysets pada banyak ponsel pintar. Permainan dan fungsi email menjadi lebih canggih seperti model-model baru yang dirilis. 
            li Kemampuan speakerphone pada banyak versi smartphone mulai menyaingi kualitas yang ditemukan dengan speakerphone handset.
       section
        ul

            li Saat ini, fungsi smartphone dengan kaya fitur perangkat komunikasi. Penambahan akses Internet adalah inovasi terbaru dalam teknologi               smartphone.
            li Saat ini, pengguna dapat berselancar di Internet dengan kemudahan yang sama seperti ketika menggunakan laptop atau komputer             desktop. 
            li Pada saat yang sama, banyak produsen garis smartphone telah bekerja untuk meningkatkan kejelasan dan integritas sinyal audio               dasar ponsel.
            li Hal ini membantu untuk memastikan bahwa bahkan dengan penambahan semua fitur tambahan, masih mungkin untuk menggunakan               smartphone untuk membuat panggilan telepon sederhana dan mengharapkan kualitas suara menjadi jernih dan tajam.

       Section
            ul
                li Sejarah Android Sedikit cerita sejarah android, Android adalah sistem operasi berbasis kernel Linux yang pada awalnya dikembangkan oleh Android, Inc, yang didukung Google finansial dan kemudian dibeli pada tahun 2005.
                li Android ini diresmikan pada tahun 2007 seiring dengan berdirinya Open Handset Alliance-konsorsium hardware, software, dan perusahaan telekomunikasi yang ditujukan untuk memajukan standar perangkat selular.
        
        Section
            ul
                li Android tidak memiliki yang namanya official phone untuk Android, sama halnya dengan tidak adanya komputer yang resmi untuk “Windows”. 
                li Android hanyalah nama untuk sistem operasi mobile hasil pengembangan si Google, oleh karena itu akan sedikit menjadi debat kusir kalau kita membandingkan secara langsung antara si Android dan juga si iPhone.
        
                li iPhone terkesan bekerja lebih intuitif daripada smartphone berbasis Android, alasannya kembali lagi ke poin sebelumnya dimana si Apple iPhone di desain selaras dengan device-nya, sedangkan si Android di desain sedemikian rupa agar bisa kompatibel di banyak varian pabrikan smartphone.
        
                li Oleh karena itu saat pengguna mencari smartphone untuk faktor “WOW KEREN!!”, kemungkinan besar mereka akan menjatuhkan pilihan ke apa-apa yang ditawarkan iPhone. 
                li Setiap fungsi di iPhone memiliki kesan mudah digunakan serta simpel. 
                li Apalagi dengan kontrol pada touch screen yang intuitif makin menambah kesan ringan dan interaktif serta handal pada operating system dan juga aplikasi-aplikasinya.

        Section
         ul
            li  Apa itu Hp Replika ?Yaitu hp tiruan yang bentuknya mirip dengan hp aslinya. 
            li Jadi hp replika bisa dikatakan sebagai hp palsu yang dibuat sedemikan rupa menyerupai wujud dari barang yang original yang mana spesifikasinya berbeda dengan spek hp asli yang ditirunya.

            li Hp android palsu/replika kini banyak beredar dan harganyapun sangat miring. Hp-hp replika tentu me-replikakan hp2 yang berkelas seperti Galaxy S4, Galaxy S3, iPhone, Nokia N8, dll

            li Replika = KW = Copy = King Copy = SuperCopy
        
        Section
         ul
            li Kebanyakan Aplikasi Aplikasi free sedangkan beda dengan ios karena ios aplikasi hampir semua berbayar dan kita dapat merasakan perbedaannya karena harga aplikasi di android terjangkau

        Section
         ul
            li Cara membedakan produk asli dengan produk replika atau supercopy (kw).apakah anda semua sudah bisa membedakan hp replika dengan produk original,kali ini saya akan berbagi sedikit tips buat anda yang masih baru,tips membedakan hp replika ini sangat cepat,mudah dan akurat,anda tidak di harus kan melihat dari logo,dari baterai dan banyak lagi
        
            li banyak sekali blog membahas cara membedakan produk replika di lihat dari menu,bazer,layar sentuh,ukuran cpu,koneksi internet,dan banyak lagi,dan ada sebagian membandingkan hp replika dengan ori dari ukuran dan ketebalan produk,hal ini memang bisa membedakan hp replika dengan hp ori,namum hal ini sedikit lebih memerlukan sebuah produk original,untuk di bandingkan,
        
            li jika tidak tersedia produk original di samping anda,saya yakin anda akan kebinggungan membedakan produk ini,dan perlu proses waktu yang lama untuk membeda kedua produk,hal ini di sebabkan oleh tampilan desain yang mirip berserta os yang di gunakan juga sama-sama android jelly bean.

        
        script(src='build/build.js')
