doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
         p Smartphone adalah telepon yang menyediakan fitur yang berada diatas dan di luar kemampuan sederhana untuk membuat panggilan telepon.               Sementara istilah dapat digunakan secara wajar untuk semua jenis telepon, smartphone biasanya dipahami sebagai ponsel dan bukan telepon             rumah. Selama bertahun-tahun, konsep ponsel pintar terus berkembang sebagai perangkat tangan telah menjadi lebih canggih. 
      Section
        p Ponsel pertama yang harus dipertimbangkan smartphone dirancang oleh IBM pada tahun 1992. Diberi nama Simon, perangkat membuat penampilan           di COMDEX tahun itu, dan ditawarkan kepada publik pada tahun berikutnya. Beberapa fitur yang bermanfaat yang sampai saat itu hanya telah           tersedia pada desktop dan laptop yang termasuk dalam fungsi tersebut. Simon termasuk kalkulator, buku catatan sederhana, kemampuan untuk           mengirim dan menerima faks, dan komponen email. Dalam waktu singkat, perangkat ini juga disediakan beberapa game bagi pengguna untuk               menikmati, serta jam dunia berguna yang memungkinkan pengguna untuk melihat waktu saat ini di kota-kota besar di seluruh dunia.

        p Sepanjang sisa tahun 1990-an, berbagai jenis perangkat ponsel canggih muncul di pasaran. Layar sentuh mulai menggantikan keysets pada               banyak ponsel pintar. Permainan dan fungsi email menjadi lebih canggih seperti model-model baru yang dirilis. Kemampuan speakerphone pada           banyak versi smartphone mulai menyaingi kualitas yang ditemukan dengan speakerphone handset.

        p Saat ini, fungsi smartphone dengan kaya fitur perangkat komunikasi. Penambahan akses Internet adalah inovasi terbaru dalam teknologi               smartphone. Saat ini, pengguna dapat berselancar di Internet dengan kemudahan yang sama seperti ketika menggunakan laptop atau komputer             desktop. Pada saat yang sama, banyak produsen garis smartphone telah bekerja untuk meningkatkan kejelasan dan integritas sinyal audio               dasar ponsel. Hal ini membantu untuk memastikan bahwa bahkan dengan penambahan semua fitur tambahan, masih mungkin untuk menggunakan               smartphone untuk membuat panggilan telepon sederhana dan mengharapkan kualitas suara menjadi jernih dan tajam.

       Section
        p Sejarah Android Sedikit cerita sejarah android, Android adalah sistem operasi berbasis kernel Linux yang pada awalnya dikembangkan oleh Android, Inc, yang didukung Google finansial dan kemudian dibeli pada tahun 2005.Android ini diresmikan pada tahun 2007 seiring dengan berdirinya Open Handset Alliance-konsorsium hardware, software, dan perusahaan telekomunikasi yang ditujukan untuk memajukan standar perangkat selular.

    script(src='build/build.js')